<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
<!--       <class name="newpack.myLawlinkCRO"/> -->
<!--       <class name="newpack.myLawlinkWatchlist"/> -->
<!--       <class name="newpack.myCIDBankruptcy"/> -->
<!--       <class name="newpack.myCIDBusiness"/> -->
<!--       <class name="newpack.myLawlinkJudgement"/> -->
<!--       <class name="newpack.myLawlinkWinding"/> -->
      <class name="newpack.myLawLinkClosingOnlineOffline"/>
<!--       <class name="newpack.myCIDISIStandalone"/> -->
<!--       <class name="CaptureScreenshot.lawlinkscreenshot"/> -->
<!--       <class name="newpack.myLawlinkDirector"/> -->
<!--       <class name="newpack.myLawlinkSheriff"/> -->
<!--       <class name="newpack.myCIDWatchlist"/> -->
<!--       <class name="newpack.POMLawLinkClosingOnlineOffline"/> -->
<!--       <class name="newpack.testngsample"/> -->
<!--       <class name="newpack.myLawlinkBankruptcy"/> -->
<!--       <class name="newpack.myCIDJudgement"/> -->
<!--       <class name="newpack.myLawlinkCompany"/> -->
<!--       <class name="newpack.myLawlinkISIStandalone"/> -->
<!--       <class name="newpack.myLawlinkReceiverOfFine"/> -->
<!--       <class name="newpack.myCIDCompany"/> -->
<!--       <class name="newpack.myLawlinkPlanning"/> -->
<!--       <class name="newpack.myLawLinkClosingOnline"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
