<?xml version="1.0" encoding="UTF-8"?>
<suite name="GRID SAMPLE TEST" parllel="tests" thread-count="3">
	<test name="GRID TEST WITH PARELLEL EXECTION WITH BROWSER FF">
	<parameter name ="browserType" value="firefox"/>
		<classes>
			<class name ="SeleniumGrid.BrowserGridTest"/>
		</classes>
	</test>
	<test name="GRID TEST WITH PARELLEL EXECTION WITH BROWSER CHROME">
	<parameter name ="browserType" value="chrome"/>
		<classes>
			<class name ="SeleniumGrid.BrowserGridTest"/>
		</classes>
	</test>
</suite>